.perla-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px inset rgb(var(--sl-color-primary-500));
}

.perla-nav .nav-links,
.perla-nav .link-list {
  display: flex;
  justify-content: space-evenly;
}
.link-list {
  list-style-type: none;
  padding: 0;
}

.index-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.index-header {
  font-size: 1.5em;
}

.features__feature-list {
  padding: 0;
  display: grid;
  gap: 3rem 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  justify-items: center;
}

.features__feature-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1em;
}
.features__feature-list-item h3 {
  margin-bottom: auto;
}

.features__feature-list-item p {
  margin: auto;
}

.features__feature-list ul {
  display: flex;
  justify-content: space-evenly;
}

.index-page .action-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: stretch;
}

.card {
  width: 304px;
  height: 168px;
  border: 1px solid rgb(var(--sl-color-primary-500));
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 268px;
  }

  .features__feature-list {
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  }
  .features__feature-list-item {
    padding: 0 0.5em;
  }
}
